html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .55em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.129rem;
  color: #fff;
  margin: .08rem;
}

.btn-primary {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-border {
  border: 3px solid #333;
}

.btn-ghost {
  color: #666;
}

.btn-warning {
  background-color: #f33;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #666;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
