html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn-primary {
  padding: .6em;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}
