html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
}

.btn-primary {
  padding: .75rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.btn-subtle {
  padding: .4em .75em .3em;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}

.btn-ghost {
  border: 3px solid #333;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
}

.btn-warning {
  padding: .4em .75em .3em;
  background-color: #f33;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.btn-primary-small {
  padding: .4em .75em .3em;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: .875rem
}

.btn-subtle-small {
  padding: .4em .75em .3em;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: .875rem
}

.btn-ghost-small {
  border: 3px solid #333;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-size: .875rem
}

.btn-warning-small {
  padding: .4em .75em .3em;
  background-color: #f33;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: .875rem
}

.btn-warning-big {
    padding: .4em .75em .3em;
    background-color: #f33;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.125rem;
}

.btn-primary-big {
  padding: .4em .75em .3em;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.125rem
}

.btn-subtle-big {
  padding: .4em .75em .3em;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.125rem
}

.btn-ghost-big {
  border: 3px solid #333;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-size: 1.125rem
}
